version: '{build}'
image: Visual Studio 2022

configuration: Release

before_build:
  - dotnet restore

build:
  project: RazorEngine.NetCore.sln

after_build:
  - dotnet pack RazorEngine.NetCore/RazorEngine.NetCore.csproj -c Release

artifacts:
  - path: '**\*.nupkg'
    name: packages
  - path: '**\*.snupkg'
    name: symbol-packages

deploy:
  provider: NuGet
  api_key:
    secure: $(NUGET_API_KEY)
  skip_symbols: false
  on:
    branch: main              # Only push on main branch
