version: 1.0.{build}
image: Visual Studio 2022
before_build:
- cmd: dotnet restore
build:
  verbosity: minimal
artifacts:
- path: '**\*.nupkg'
  name: RazorEngine
deploy:
- provider: NuGet
  api_key: $(NUGET_API_KEY)
  artifact: /.*\.nupkg/