version: 1.0.{build}
image: Visual Studio 2019
before_build:
- cmd: dotnet restore
build:
  verbosity: minimal
artifacts:
- path: '**\*.nupkg'
  name: RazorEngine
deploy:
- provider: NuGet
  api_key:
    secure: %nuget_api_key%
  artifact: /.*\.nupkg/
  skip_symbols: false
  on:
    branch: main 