image: Visual Studio 2022

configuration: Release

environment:
  NUGET_API_KEY:
    secure: %nuget_api_key%

before_build:
- dotnet restore RazorEngine.NetCore.sln

build_script:
- dotnet build RazorEngine.NetCore/RazorEngine.NetCore.csproj -c Release

after_build:
- dotnet pack RazorEngine.NetCore/RazorEngine.NetCore.csproj -c Release -o artifacts

artifacts:
- path: artifacts\*.nupkg
  name: nuget

deploy:
- provider: NuGet
  api_key: $(NUGET_API_KEY)
  skip_symbols: false
  artifact: nuget
  on:
    branch: master   # choose release branch
